<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eShop</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div id="app">
    <header>
      <div class="container">
        <h2>eShop</h2>
        <!-- <input id="search" v-model="search" v-on:input="searchHandler"> -->
        <search  v-on:search="searchHandler"></search>
        <button class="cart-button" type="button" @click="cartRenderHandler">Корзина <span v-if="cart.length != 0">{{ cart.length }}</span></button>
      </div>
    </header>

    <div class="container">
      <main>
        
        <cart-list 
          :is-cart-visible = 'isCartVisible'
          :cart-list = "cart"
        ></cart-list>
        
        <product-list
          :prod-list = "filtredGoods"
        ></product-list>
        
      </main>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="vue-script.js"></script>
</body>

</html>